<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762222987203-bd4782p7ksdh6078gpe49rlh1kalm0s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762222987203-bd4782p7ksdh6078gpe49rlh1kalm0s2</string>
	<key>API_KEY</key>
	<string>AIzaSyBaFo2e3ABLHZJ16fmplgKbvBupu6hjiCc</string>
	<key>GCM_SENDER_ID</key>
	<string>762222987203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.freemoni.clubcronicaapp</string>
	<key>PROJECT_ID</key>
	<string>freemoni-consumer-dev-a6b4c</string>
	<key>STORAGE_BUCKET</key>
	<string>freemoni-consumer-dev-a6b4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762222987203:ios:5876c917d7a96907d99f76</string>
	<key>DATABASE_URL</key>
	<string>https://freemoni-consumer-dev-a6b4c.firebaseio.com</string>
</dict>
</plist>