<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602566447454-dtdtn47iot4c0ankgaod1onqorrnm5ik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602566447454-dtdtn47iot4c0ankgaod1onqorrnm5ik</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>602566447454-731am6b569b55jsqt17t58gim63vll41.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbzzHP6fyWzJPjlZXVbfMFLpcBSUYZpV8</string>
	<key>GCM_SENDER_ID</key>
	<string>602566447454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.freemoni.clubcronicaapp</string>
	<key>PROJECT_ID</key>
	<string>freemoni-b03fc</string>
	<key>STORAGE_BUCKET</key>
	<string>freemoni-b03fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602566447454:ios:137b86f9cfe1ccdf7e3fcf</string>
	<key>DATABASE_URL</key>
	<string>https://freemoni-b03fc.firebaseio.com</string>
</dict>
</plist>